$fs-top-bar: 16px;
$fs-header: 20px;
$fs-product-name-detail: 30px;
$fs-product-name: 40px;
$fs-product-feature: 40px;  
$fs-product-buy: 24px;
$fs-product-price: 24px;
$fs-product-size: 24px;
$fs-product-description: 20px;

// color
$color-black: black;
$color-white: white;
$color-grey-1: #f7f7f7;
$color-grey-2: #f8f8f8;
$color-grey-3: #dfdbdb;
$color-grey-4: #cccccc;
$color-orange: #F8B653;
$color-short-description: #CBC9C9;
$color-red: red;

//font weight
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;
$fw-8: 800;

// background
$bg-grey-1: #f8f8f8;
$bg-grey-2: #DEDDDC;
