footer {
    padding-top: 106px;
    .footer-top {

        padding: 60px 0;

        .footer-item {

            flex: 1 1;
    
            h5 {
                font-weight: $fw-6;
            }
    
            a{
                font-size: $fs-top-bar;
            }
    
            &:nth-of-type(2), &:nth-of-type(3) {
                padding-left: 20px;
                border-left: 1px solid $color-grey-3;
            }
        }
    }
    

    .learn-more {
        color: $color-red!important;
    }
}

.footer-bottom {
    background-color: $color-grey-1;
    padding: 60px 0;

    .footer-item {
        
        flex: 1 1;

        h5 {
            font-weight: $fw-6  ;
        }

        a {
            color: $color-red!important;
        }

        &:nth-of-type(2), &:nth-of-type(3) {
            padding-left: 20px;
            border-left: 1px solid $color-grey-3;
        }
    }
}