.top-bar {
    background-color: $color-black;


    .header-logo {
        width: 116px;
        height: 32px;
    }

    .navbar {
        padding-top: 10px;
        padding-bottom: 8px;
        padding-left: 0;
        padding-right: 0;
    }

    .header-cart {
        width: 31px;
        height: 31px;
        line-height: 31px;
        color: $color-white;
        margin-right: 30px;
    }

    .header-login {
        font-size: $fs-top-bar;
        font-weight: $fw-3;
        line-height: 19.36px;
        color: $color-grey-1;
        margin-right: 30px;
        text-decoration: none;
    
    }

    .header-register {
        font-size: $fs-top-bar;
        font-weight: $fw-3;
        line-height: 19.36px;
        color: $color-grey-1;
        text-decoration: none;
    }
}

header {
    ul {
        list-style: none;
        li {
            display: inline-block;
            padding: 16px 40px 10px 0;
            a {
                color: $color-black;
                font-size: $fs-header;
                font-weight: $fw-3;
                line-height: 24px;
                &:hover {
                    text-decoration: none;
                    color: $color-black;
                }
            }
        &:nth-child(2), &:nth-child(3) {
            opacity: 0.7;
        }
        }
    }

}



